div.sc-cLQEGU.klixmu {
    background-color: #1D1D1D;
  }

  h2.perspective-title {
    color: #42aefb;
    background-color: #1D1D1D;
  }

  div.sc-cQFLBn.bQRhWW.inbox {
    background-color: #1D1D1D;
  }

  div.sc-cQFLBn.bQRhWW.projects {
    background-color: #1D1D1D;
  }

  div.sc-hrWEMg.cYGado {
    background-color: #1D1D1D;
    border-color: #1D1D1D;
  }

  div div div {
    background-color: #1D1D1D;
  }

  div.sc-fYxtnH.fdgdMG {
    border-color: #1D1D1D;
  }

  span span span {
    color: #a6a6a6;
  }

  span.sc-lkqHmb.gbvoNr {
    background-color: #333333;
    border-color: #333333;
  }

  span.sc-bXGyLb.dOmDWJ {
    background-color: #333333;
    border-color: #333333;
  }

  div.sc-exAgwC.kSfcqa {
    background-color: #333333;

  }

  div.sc-gqPbQI.hzkSUd {
    background-color: #333333;
  }

  div.sc-bMVAic.cTrMSi {
    color: #a6a6a6;
  }
